// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	//@include povh('');
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	height: 90px;
	box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	z-index: 100;
	&__trigger, &__close{
		display: none;
		text-align: right;
		float: right;
		cursor: pointer;
		background: none;
		border: none;
		font-size: 24px;
		@include mq($max-width: 992px) {
			display: block;
		}
	}
	&__close{
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10;
		color: #bb7e31;
	}
	&__info{
		color: #bb7e31;
		font-size: 13px;
		font-weight: 300;
		line-height: 2;
		padding-top: 10px;
	}
	&__lang{
		display: inline-block;
		vertical-align: middle;
		color: #252524;
		cursor: pointer;
		position: relative;
		padding-left: 40px;
		img{
			vertical-align: middle;
		}
	}
	&__lang-active{
		padding-right: 20px;
		&:before{
			content: '';
			@include arr(12,7, #000, b);
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -6px;
		}
	}
	&__lang-list{
		position: absolute;
		right: 0;
		top: 25px;
		background: #fff;
		padding: 10px 15px;
		border: 1px solid #000;
		z-index: 5;
		display: none;
		a{
			text-decoration: none;
			&:hover, &.active{
				color: #bb7e31 ;
			}
		}
	}
	&__menu{
		padding: 20px 0 0 0;
		ul{
			display: flex;
			justify-content: space-between;
			color: #252524;
			font-size: 14px;
			font-weight: 400;
			line-height: 2;
			text-transform: uppercase;
		}
		li{
			display: inline-block;
		}
		a{
			text-decoration: none;
			font-weight: 400;
			&:hover, &.active{
				color: #bb7e31;
			}
		}
	}
 }
	
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
	padding-top: 90px;
	&__content{
		background: #faf6f1;
		padding: 40px 0 ;
	}
 }
 	.booking{
		 background-repeat: no-repeat;
		 background-position: center;
		 height: 900px;
		 display: flex;
		 justify-content: center;
		 align-items: flex-end;
		 box-sizing: border-box;
		 padding-bottom: 160px;
		 @include povh('');
		 background-attachment: fixed;
		 &:before{
			 content: '';
			 background: url(../img/pattern.png) repeat-x top left;
			 height: 120px;
			 width: 100%;
			 position: absolute;
			 left: 0;
			 bottom: 0;
		 }
		 &__section{
			 padding: 15px 10px;
			 padding-left: 30px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
			background-color: #ffffff;
			border-radius: 12px;
			h6{
				color: #282828;
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				img{
					vertical-align: middle;
					display: inline-block;
					padding-right: 10px;
				}
			}
			input{
				width: 100%;
			}
		 }
		 .pb-25{
			 padding-bottom: 25px;
		 }
		 &__title{
			color: #707070;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.8;
		 }
		 select, input{
			color: #000000;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 0.4px;
			width: 100%;
			border-radius: 0;
			border: none;
			background: none;
			outline: none; 
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			text-indent: 1px;
			text-overflow: '';
			position: relative;
			z-index: 3;
		 }
		 select{
			 background: url(../img/select-ico.png) no-repeat center right;
		 }
		 input{
			 background: url(../img/calend.png) no-repeat center right;
		 }
		 .button{
			 height: 100%;
			 width: 100%;
		 }
		 .container{
			 &:before{
				content: '';
				background: url(../img/girl.png) no-repeat center;
				width: 350px;
				height: 490px;
				position: absolute;
				left: -110px;
				bottom: 0;
				display: block;
				z-index: 2;
			 }
		 }
	 }
	 	.promocode{
			 display: block;
			 text-align: right;
			 color: #d09244;
			 text-decoration: none;
			 padding-right: 20px;
			 &:hover{
				 text-decoration: underline;
			 }
		 }
	.promotion{
		background: #faf6f1;
		padding: 20px 0 0 0;
		&__item{
			padding-bottom: 40px;
			figure{
				img{
					width: 100%;
					display: block;
				}
			}
		}
		&__text{
			margin: 0 9px;
			background: #ffffff url(../img/promotion-bg.png) no-repeat right top;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			margin-top: -30px;
			z-index: 2;
			position: relative;
			padding: 10px 15px;
			text-align: center;
			color: #2f2f2f;
			font-size: 15px;
			font-weight: 400;
			min-height: 129px;
			padding-bottom: 30px;
			line-height: 1.1;
			h5{
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		.button{
			font-size: 12px;
		}
		.text_center{
			margin-top: -20px;
			position: relative;
			z-index: 3;
		}
	}
		.title{
			color: #c18337;
			font-family: $title;
			font-size: 36px;
			font-weight: 400;
			line-height: 1;
			text-transform: uppercase;
			text-align: center;
			padding-bottom: 45px;
			&:after{
				display: block;
				content: '';
				margin-top: 20px;
				height: 28px;
				background: url(../img/title.png) no-repeat center;
			}
		}
	.group{
		padding: 60px 0 30px 0;
		background: #fff url(../img/group-bg.png) no-repeat right top;
		&__item{
			margin-bottom: 8px;
			background: #ba7d2f;
			display: flex;
		}
		&__logo{
			width: 33%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 0;
			img{
				max-width: 100%;
				max-height: 76px
			}
		}
		&__section{
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			h6{
				color: #ffffff;
				font-size: 14px;
				font-style: italic;
				text-transform: uppercase;
				padding-bottom: 15px;
			}
			.button{
				font-size: 12px;
				margin: 0 9px;
			}
		}
		&__text{
			color: #3e3e3e;
			font-size: 14px;
			font-weight: 300;
			line-height: 1.8;
			padding: 15px 24px 28px 24px;
			border: 2px solid #d7994b;
			background: #f4ece2 url(../img/group-text-bg.png) no-repeat right bottom;
			img{
				max-width: 100%;
			}
		}
		&__plus{
			text-align: right;
			display: block;
		}
	}
	.text{
		padding: 30px 0 80px 0;
		color: #313131;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.3;
		text-align: center;
		p{
			padding: 0 20px 30px 20px ;
		}
		&__info{
			text-align: center;
			color: #ba7d2f;
			font-size: 18px;
			font-weight: 300;
			line-height: 1;
			text-decoration: none;
			padding-bottom: 30px;
			a{
				text-decoration: none;
			}
			img{
				display: block;
				margin: 0 auto;
				margin-top: 15px;
			}
		}
		&__item{
			margin-bottom: 20px;
			img{
				width: 100%;
				border-radius: 6px;
			}
			article{
				margin: 0 5px;
				margin-top: -20px;
				position: relative;
				z-index: 1;
				box-sizing: border-box;
				padding: 18px 10px;
				border-radius: 6px;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
				background: #f6f0e9 url(../img/tag-bg.png) no-repeat center right;
				p{
					padding: 0;
					color: #3e3e3e;
					font-size: 14px;
					font-weight: 300;
					line-height: 1.3;
				}
				h5{
					padding-bottom: 15px;
					color: #c18337;
					font-size: 18px;
					font-weight: 400;
					line-height: 1.1;
					text-transform: uppercase;
				}
			}
		}
	}
	.subscribe{
		background: url(../img/newsletter.jpg) no-repeat center;
		background-size: cover;
		padding: 62px 0;
		h6{
			color: #ffffff;
			font-size: 30px;
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
		}
		input:not(.button){
			width: 100%;
			height: 55px;
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
			background-color: #ffffff;
			border: none;
			border-radius: 26px;
			padding: 0 25px;
			font-size: 18px;
		}
		.button{
			width: 100%;
			height: 55px;
			font-size: 18px;
			border: 2px solid #ffffff;
			background: #dfa153;
			&:hover{
				background: #ea9e3d;
			}
		}
	}
	.sidebar{
		position: relative;
		&__search{
			position: relative;
			background-color: #b87927;
			border-radius: 6px;
			margin-bottom: 15px;
			input{
				height: 50px;
				width: 100%;
				border-radius: 0;
				background: none;
				color: #ffffff;
				font-size: 18px;
				font-weight: 500;
				border: none;
				padding: 0 47px 0 25px;
			}
			button{
				position: absolute;
				right: 15px;
				font-size: 26px;
				border: none;
				background: none;
				color: #fff;
				transform: translateY(-50%);
				top: 50%;
			}
		}
		&__form-item{
			padding-bottom: 15px;
			input[type=text]{
				width: 100%;
				height: 42px;
				padding: 0 15px;
				padding-right: 39px;
				color: #4b4b4b;
				font-size: 14px;
				font-weight: 300;
				letter-spacing: 0.7px;
				border: none;
				box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.23);
				background: #fff url(../img/calend.png) no-repeat center right 15px;
			}
			strong{
				display: block;
				color: #363636;
				font-size: 14px;
				font-weight: 400;
				padding-bottom: 7px;
			}
			label{
				color: #484848;
				font-size: 14px;
				font-weight: 300;
				input{
					margin-right: 5px;
				}
			}
			.button{
				font-size: 18px;
				width: 100%;
				height: 50px;
				line-height: 1;
			}
		}
		&__acc{
			position: relative;
		}
		&__acc-trigger{
			height: 50px;
			background-color: rgba($color: #b87927, $alpha: 0.2);
			border-radius: 6px;
			display: flex;
			justify-content: center;
			padding: 0 25px;
			flex-direction: column;
			position: relative;
			cursor: pointer;
			margin-bottom: 20px;
			i{
				position: absolute;
				right: 15px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&__acc-content{
			padding-bottom: 25px;
			color: #483b29;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
			a{
				color: #cb8d41;
				letter-spacing: 0.35px;
				text-decoration: none;
				padding-left: 1.3em;
				&:hover{
					text-decoration: underline;
					
				}
			}
			input{
				margin: 0 5px 0 0 ;
			}
		}
	}
	.content{
		&__top{
			padding-bottom: 12px;
			h1{
				color: #c18337;
				font-size: 36px;
				font-weight: 400;
				line-height: 26px;
			}
		}
	}
		.pager{
			color: rgba($color: #535353, $alpha: 0.43);
			font-size: 18px;
			font-weight: 400;
			text-align: right;
			li{
				display: inline-block;
				//padding:  0 0 0 3px;
			}
			a{
				text-decoration: none;
				width: 32px;
				height: 32px;
				border: 1px solid rgba(0, 0, 0, 0.1);
				border-radius: 50%;
				display: inline-block;
				background: #ffffff;
				text-align: center;
				line-height: 34px;
				&.active, &:hover{
					color: #b87927;
					border: 2px solid rgba(184, 121, 39, 0.95);
				}
				i{
					font-size: 0.8em;
				}
			}
		}
		.sort{
			border-top: 1px solid #d9d6d2;
			border-bottom: 1px solid #d9d6d2;
			padding: 15px 0;
			color: #494949;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 29px;
			label{
				padding: 0 0 0 10px;
			}
			input{
				vertical-align: baseline;
				margin-right: 5px;
			}
		}
		.hotel-list{
			border-bottom: 1px solid #d9d6d2;
			margin-bottom: 17px;
			padding-bottom: 10px;
			position: relative;
			&__row{
				background: #fff;
				margin-bottom: 15px;
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
			}
			figure{
				height: 100%;
				overflow: hidden;
				img{
					display: block;
					min-width: 100%;
					max-width: 140%;
					height: 100%;
				}
			}
			article{
				padding: 15px 10px 10px 0;
			}
			h4{
				color: #2f2f2f;
				font-size: 24px;
				font-weight: 500;
			}
			h6{
				color: #636363;
				font-size: 12px;
				font-weight: 300;
				padding-bottom: 1px;
				margin: 0;
			}
			p{
				color: #2f2f2f;
				font-size: 14px;
				font-weight: 300;
				padding: 0;
			}
			nav{
				color: #b27221;
				letter-spacing: 0.35px;
				a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			h5{
				color: #4b4b4b;
				font-size: 14px;
				font-weight: 400;
			}
			&__price{
				text-align: right;
				strong{
					display: block;
					color: #b87927;
					font-size: 30px;
					font-weight: 500;
				}
				small{
					color: #4b4b4b;
					font-size: 12px;
					font-weight: 300;
				}
			}
			.button{
				min-width: 140px;
				font-size: 16px;
			}
		}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	background: #3d3a35;
	padding-top: 50px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	p{
		padding-bottom: 16px;
	}
	.button{
		text-transform: none;
		font-weight: normal;
	}
	.button{
		i{
			padding-left: 10px;
		}
	}
	&__bottom{
		margin-top: 25px;
		padding: 18px 0;
		background: #2f2d2a;
		font-size: 11px;
	}
	&__contact{
		padding-bottom: 18px;
		padding-left: 25px;
		position: relative;
		i{
			position: absolute;
			left: 0;
			top: 4px;
			color: #f9cb89;
		}
	}
	&__logo{
		display: block;
		padding-bottom: 25px;
		text-align: center;
		img{
			display: block;
			margin:  0 auto;
		}
	}
	&__social{
		text-align: center;
		strong{
			color: #ffffff;
			font-size: 18px;
			font-weight: 500;
			line-height: 1;
			display: block;
			padding-bottom: 40px;
			text-transform: uppercase;
			text-align: center;
		}
		a{
			display: inline-flex;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			border: 1px solid #ffffff;
			margin: 0 3px;
			font-size: 18px;
			justify-content: center;
			align-items: center;
			text-decoration: none;
		}
	}
	&__title{
		color: #ffffff;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		&:after{
			margin-top: 12px;
			margin-bottom: 15px;
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			background-image: linear-gradient(to right, #c0832b 0%, #ffcc82 100%);
		}
	}
	&__menu{
		line-height: 1.8;
		a{
			text-decoration: none;
			&:hover{
				color: #c18630;
			}
		}
	}
 }

/*----------end footer----------*/